body {
    background-image: url(https://static.insales-cdn.com/r/yZw6QI5aZQs/rs:fit:1000:0:1/q:100/plain/images/products/1/275/648626451/CAT_PATTERN_SL71900-41.jpg);
    background-repeat: repeat;
    background-size: cover;
}

body {
    text-align: center;
}

h3, ol, ul {
    text-align: left;
}

.content {

}

#ican {

}